{% extends "base.html" %}
{% block title_main %}Edit Stocks{% endblock %}
{% block body_main %}
{% include "partials/_sidebar_main.html" %}
<div class="main-content bg-primary" id="panel">
  {% include "partials/_navbar_main.html" %}
  <div class="header bg-primary pb-6">
    <div class="mr-5 ml-5">
      <div class="mr-5 ml-5">{% include "partials/_messages.html" %}</div>
    </div>
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'add_stock' %}">Stock</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Stock</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col mr-5 ml-5">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="h3 mb-0 text-center">Edit Stock</h5>
                <form action="{% url 'edit_stock' values.id %}" method="POST">
                  {% csrf_token %}

                  <div class="form-group">
                    <label for="">Sector</label>
                    <select class="form-control form-control-sm" name="sector">
                      {% for source in sectors %}
                      <option name="source" value="{{source.id}}">{{source.sector_name}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="">Stock Name</label>
                    <input class="form-control form-control-sm" type="text" name="stock_name"
                      value="{{ values.stock_name }}">
                  </div>
                  <div class="form-group">
                    <label for="">Stock Symbol</label>
                    <input class="form-control form-control-sm" type="text" name="stock_symbol"
                      value="{{ values.stock_symbol }}">
                  </div>
                  <div class="form-group">
                    <label for="">ISIN</label>
                    <input class="form-control form-control-sm" type="text" name="isin"
                      value="{{ values.isin }}">
                  </div>

                  <div class="form-group">
                    <label for="">Date of Stock</label>
                    <input class="form-control form-control-sm" type="datetime-local"  value ={{values.created_at}} name="created_at">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Stock</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col mr-5 ml-5">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="h3 mb-3 text-center">Stocks List</h5>
                <!-- <h6 class="h3 mb-3 text-center text-danger">Please Note: Deleting Source will also delete the sector which are linked with these stocks</h6> -->
                {% if sources %}
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Serial No.</th>
                      <th scope="col">Sector</th>
                      <th scope="col">Stock Symbol</th>
                      <th scope="col">Stock Name</th>
                      <th scope="col">Created At</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for source in sources %}
                    <tr>
                      <td> {{forloop.counter}} </td>
                      <td> {{source.sector.sector_name}} </td>
                      <td> {{source.stock_symbol}} </td>
                      <td> {{source.stock_name}} </td>
                      <td> {{source.created_at}} </td>
                      <td><a href="{% url 'edit_stock' source.id %}" class="btn btn-warning btn-sm">Edit</a><a
                          href="{% url 'delete_stock' source.id %}" class="btn btn-danger btn-sm">Delete</a> </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <div class="text-center text-danger mt-4">No Sector. Please Add Sectors</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}